<!DOCTYPE html>

<html>
    <head>
            <link rel="stylesheet" href="../static/styles.css">
        
            
        </style>
        <title>Sign-up</title>
    </head>
    <body>
      <!-- create your form here -->
      
        <form method="post">
            <div class="grid-1">
                <label class="item1">User name:</label>
                <input type="text" name="username" id="usrnm" class="item2">
                <label class="item3">Password:</label>
                <input type="password" name ="password" id="psswrd" class="item4">
                <label class="item5">Password:</label>
                <input type="password" name ="confpassword" id="conf-psswrd" class="item6">
                <label class="item7">E-mail(optional):</label>
                <input type="text" name="mail" id="email" class="item8">
                
                <input type="submit" value="Submit" class="item9">
            </div>
        </form>
    </body>
</html>